version: '3.3'

services:
  mysql_container:
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=12345678
      - MYSQL_DATABASE=squoolr_api_db
    command: mysqld --sql_mode=""
    # volumes:
    #   - mysql:/data
  api:
    build:
      dockerfile: ./Dockerfile.api
      context: .
    restart: always
    environment:
      - DATABASE_URL=mysql://root:12345678@mysql_container:3306/hope_home
      - DEFAULT_PASSWORD='12345678'
      - JWT_SECRET='32d07665.2022e4'
      - PORT=8080
      - EMAIL='glomexam@gmail.com'
      - ADMIN_EMAIL='hopehome694@gmail.com'
      - CLIENT_SECRET='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'
      - CLIENT_ID='562313049834-07ekkibpmtfq0b2m68i56anbck3utj2p.apps.googleusercontent.com'
      - REFRESH_TOKEN='1//04Yxgg5hU66_kCgYIARAAGAQSNwF-L9IrrCy3HHIffDc2NR4AOxH1VGzjwdROru1-RqqH_4mrRu8_HaOI2s9LlO7LcqjjhMI9_t0'
      - NODE_ENV=production
      - SALT=12
    ports:
      - "95:8080"
    depends_on:
      - mysql_container
  landing:
    build:
      dockerfile: ./Dockerfile.landing
      context: .
    restart: always
    ports:
      - "93:3000"
    depends_on:
      - api

# volumes:
#   mysql:
#     driver: local
